video {
  max-height: 80vh;
  height: 100%;
}

:fullscreen video {
  max-height: unset;
}

video,
.controls {
  display: inline-block;
}

video,
.controls {
  max-width: 90vw;
  width: 100%;
}

:fullscreen video,
:fullscreen .controls {
  max-width: unset;
}
