.progress {
  --border-radius: 0.5em;
  position: relative;
}

/* defaults */
.progress>* {
  position: absolute;
  border: var(--border);
  border-radius: var(--border-radius);
  top: 0.35em;
  bottom: 0.35em;
}

/* overrides */
.progress>.click-stealer {
  border-radius: 0;
  top: 0;
  bottom: 0;
}

.progress>.abuffered,
.progress>.buffered,
.progress>.played,
.progress>.click-stealer {
  border-color: transparent;
}

/* overrides */

/* colors */
.progress>.available,
.progress>.click-stealer {
  background-color: transparent;
}

.progress>.buffered {
  background-color: var(--default-color);
}

.progress>.abuffered {
  background-color: var(--accent-color);
  opacity: 0.25;
}

.progress>.played {
  background-color: var(--accent-color);
}

/* colors */

/* initial widths */
.progress>.available,
.progress>.click-stealer {
  width: 100%;
}

.progress>.buffered,
.progress>.abuffered,
.progress>.played {
  width: 0%;
}

/* initial widths */

/* just for fun */
.progress>.played {
  --magic-look-like-a-ball: 1.25;
  min-width: calc(var(--magic-look-like-a-ball) * var(--border-radius));
}
