.progress {
  position: relative;
  --border-radius: 0.5em;
}

.progress>* {
  position: absolute;
  border-radius: var(--border-radius);
  top: 0.35em;
  bottom: 0.35em;
}

.progress>.available,
.progress>.buffered,
.progress>.played {
  border: var(--border);
}

.progress>.buffered,
.progress>.played {
  border-color: transparent;
}

.progress>.available {
  background-color: transparent;
  width: 100%;
}

.progress>.buffered,
.progress>.abuffered {
  background-color: var(--default-color);
  width: 0%;
}

.progress>.abuffered {
  background-color: var(--accent-color);
  width: 0%;
  opacity: 0.25;
}

.progress>.played {
  background-color: var(--accent-color);
  width: 0%;
  min-width: calc(var(--border-radius));
}
