.progress {
  position: relative;
}

.progress>* {
  position: absolute;
  border-radius: 0.5em;
  top: 0.25em;
  bottom: 0.25em;
}

.progress>.available {
  border: var(--border);
  width: 100%;
}

.progress>.played {
  background-color: var(--accent-color);
  width: 0%;
  min-width: 1em;
}

.progress>.buffered {
  background-color: var(--default-color);
  width: 0%;
}
