.progress>.available {
  border: var(--border);
}

.progress>.played {
  background-color: var(--accent-color);
}

.progress {
  position: relative;
}

.progress>* {
  position: absolute;
  border-radius: 0.5em;
  top: 0.25em;
  bottom: 0.25em;
  width: 100%;

  min-width: 1em;
}
