.video {
  max-height: 80vh;
  height: 100%;
  max-width: 90vw;
  width: 100%;
  position: relative;

  /* to center */
  display: inline-block;
}

:fullscreen .video {
  max-height: unset;
  max-width: unset;
}

.player {
  position: relative;
  text-align: center;
}

.player:fullscreen.hide-ui {
  cursor: none;
}

.player.loading {
  cursor: wait;
}

.player.loading .video {
  visibility: hidden;
}

.player.loading .loading-screen {
  display: flex;
}

.player .loading-screen {
  display: none;
  align-items: center;
  justify-content: center;

  position: absolute;
  height: 100%;
  width: 100%;
}
